# C++ objects and libs

*.slo
*.lo
*.o
*.a
!_Libs/_builds/*/*/*.a
*.la
!_Libs/_builds/*/*/*.la
*.lai
!_Libs/_builds/*/*/*.lai
*.so
!_Libs/_builds/*/*/*.so
*.dll
!_Libs/_builds/*/*/*.dll
*.dylib
!_Libs/_builds/*/*/*.dylib
_Libs/_builds/linux/*
_Libs/_builds/macos/*
_Libs/_builds/android/*
#!_Libs/_builds/macos/*
_Libs/_builds/sdl2_mixer_mod/*
_Libs/_builds/win32/lib/SDL2_mixer.dll
_Libs/_builds/win32/bin/SDL2_mixer.dll
_Libs/_builds/win32/lib/SDL2_mixer_ext.dll
_Libs/_builds/win32/bin/SDL2_mixer_ext.dll
_Libs/_builds/win32/lib/libluabind.a
_Libs/_builds/win32/lib/libSDL2_mixer.a
_Libs/_builds/win32/lib/libSDL2_mixer.la
_Libs/_builds/win32/lib/libSDL2_mixer_ext.a
_Libs/_builds/win32/lib/libSDL2_mixer_ext.la
#Mac OS's junk
.DS_Store

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
ui_*.h
qrc_*.cpp
Makefile
Makefile.*
*/Makefile.*
*-build-*
*build-*
/bin
/bin-w32
/ServerLib/bin
/android-build
/Editor/app_process
/Editor/android-build
/Editor/android-libpge_editor.so*

#compiled translation
editor_*.qm


# ignore Qt-Makefile
*.Debug
*.Release

#git related

+*.swp
*.db
*_plugin_import.cpp

#unpacked libraries sources
/_Libs/_sources/SDL/*
/_Libs/_sources/SDL_android/*
!/_Libs/_sources

#Temp files of LibreOffice
.~lock.*

#Paths config files in the root
/_paths.bat
/_paths.sh


#Notepad++ Backup files
*.bak

.qmake.stash
libSDL2_mixer.so
libSDL2_mixer.dll
libSDL2_mixer.dylib

/_Misc/PGEFilelib_QT_test/PGEFilelib_QT_test
/_Misc/PGEFilelib_STL_test/PGEFilelib_STL_test


