_Libs/* 			linguist-vendored
_Misc/* 			linguist-vendored
Content/* 			linguist-vendored
Documents/* 		linguist-vendored
Engine/languages/* 	linguist-vendored
Editor/languages/* 	linguist-vendored
Manager.mono/* 		linguist-vendored
luadoc/*			linguist-vendored
*.bat				linguist-vendored text eol=crlf
*.cmd				linguist-vendored
*.sh				linguist-vendored
*.pro				linguist-vendored
*.pri				linguist-vendored
*.ini				linguist-vendored text eol=crlf
*.lua				text eol=crlf
*.txt				text eol=crlf
CMakeLists.txt		text eol=lf
*.cmake				text eol=lf
