# C++ objects and libs

*.slo
*.lo
*.o
*.a
!_Libs/_builds/*/*/*.a
*.la
!_Libs/_builds/*/*/*.la
*.lai
*.so
!_Libs/_builds/*/*/*.so
*.dll
!_Libs/_builds/*/*/*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
ui_*.h
qrc_*.cpp
Makefile
Makefile.*
*-build-*
*build-*
/bin

# ignore Qt-Makefile
*.Debug
*.Release

#git related

+*.swp
*.db
*_plugin_import.cpp

#unpacked libraries sources
_Libs/_sources/SDL*
