[submodule "_common/PGE_File_Formats"]
	path = _common/PGE_File_Formats
	url = https://github.com/WohlSoft/PGE-File-Library-STL.git
	branch = master
[submodule "_Libs/FreeImage"]
	path = _Libs/FreeImage
	url = https://github.com/WohlSoft/libFreeImage.git
	branch = master
[submodule "_Libs/AudioCodecs"]
	path = _Libs/AudioCodecs
	url = https://github.com/WohlSoft/AudioCodecs.git
	branch = master
[submodule "_Libs/SDL_Mixer_X"]
	path = _Libs/SDL_Mixer_X
	url = https://github.com/WohlSoft/SDL-Mixer-X.git
	branch = master
[submodule "Content/help"]
	path = Content/help
	url = https://github.com/WohlSoft/Moondust-Devkit-Help.git
	branch = master
[submodule "_Libs/luabind"]
	path = _Libs/luabind
	url = https://github.com/WohlSoft/moondust-luabind.git
	branch = master
[submodule "_Libs/LuaJIT"]
	path = _Libs/LuaJIT
	url = https://github.com/WohlSoft/LuaJIT.git
	branch = v2.1
[submodule "_Libs/libjpeg"]
	path = _Libs/libjpeg
	url = https://github.com/WohlSoft/libjpeg.git
	branch = main
[submodule "_Libs/libpng"]
	path = _Libs/libpng
	url = https://github.com/WohlSoft/libpng.git
	branch = moondust
[submodule "_Libs/DirManager"]
	path = _Libs/DirManager
	url = https://github.com/WohlSoft/DirManager.git
	branch = master
[submodule "_Libs/IniProcessor"]
	path = _Libs/IniProcessor
	url = https://github.com/WohlSoft/IniProcessing.git
	branch = master
[submodule "_Libs/FileMapper"]
	path = _Libs/FileMapper
	url = https://github.com/WohlSoft/FileMapper.git
	branch = master
[submodule "_Libs/libtiff"]
	path = _Libs/libtiff
	url = https://github.com/WohlSoft/libtiff.git
	branch = master
[submodule "_Libs/tex3ds"]
	path = _Libs/tex3ds
	url = https://github.com/WohlSoft/xtconvert-tex3ds.git
	branch = libtex3ds
[submodule "_Libs/3dstools"]
	path = _Libs/3dstools
	url = https://github.com/WohlSoft/xtconvert-3dstools.git
	branch = libromfs3ds
[submodule "_Libs/libimagequant"]
	path = _Libs/libimagequant
	url = https://github.com/WohlSoft/xtconvert-libimagequant.git
	branch = 2.x
[submodule "_Libs/libarchive"]
	path = _Libs/libarchive
	url = https://github.com/WohlSoft/xtconvert-libarchive.git
	branch = fix-iso-filenames
[submodule "_Libs/mbediso"]
	path = _Libs/mbediso
	url = https://github.com/WohlSoft/mbediso.git
	branch = main
[submodule "_Libs/spc2it"]
	path = _Libs/spc2it
	url = https://github.com/WohlSoft/spc2it.git
	branch = master
[submodule "_Libs/mmutil"]
	path = _Libs/mmutil
	url = https://github.com/WohlSoft/mmutil.git
	branch = master
[submodule "_Libs/lz4"]
	path = _Libs/lz4
	url = https://github.com/WohlSoft/lz4.git
	branch = release-patches
[submodule "_Libs/libgnurx"]
	path = _Libs/libgnurx
	url = https://github.com/WohlSoft/libgnurx.git
	branch = master
[submodule "_Libs/libxz"]
	path = _Libs/libxz
	url = https://github.com/WohlSoft/xz.git
	branch = master
