os:
- linux

language: cpp

compiler:
- g++

env:
# Default build. Release.
#- PATH=/home/travis/Qt/Qt-5.4_static/bin:/home/travis/Qt/Qt-5.4_static/lib:$PATH
before_install:
#- mkdir /home/travis/Qt
#- wget https://www.dropbox.com/s/n6qkqd4g1zx9zbo/qt-5.4.1-static-linux-mint.tar.gz?dl=0 -O /home/travis/Qt/qt-5.4.1-static-linux-mint.tar.gz
#- Bak=~+
#- cd /home/travis/Qt
#- tar -xvf qt-5.4.1-static-linux-mint.tar.gz
#- cd $Bak
- printf "===============================================\n"
- echo "Installed automake"
- printf "===============================================\n"
- ls /usr/bin/automake-*
- wget http://ftp.gnu.org/gnu/automake/automake-1.14.1.tar.gz
- tar -xvf automake-1.14.1.tar.gz
- cd automake-1.14.1
- bash ./configure
- make
- sudo make install
- cd ..
- printf "===============================================\n\n"
- sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
- sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq
- sudo apt-get install gcc-4.8 g++-4.8
- sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 20
- sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 20
- sudo update-alternatives --config gcc
- sudo update-alternatives --config g++
- sudo apt-get install -qq "^libxcb.*" libx11-xcb-dev libglu1-mesa-dev libxrender-dev freeglut3-dev libxkbcommon-dev udev mtdev-tools webp
- sudo apt-get install -qq qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libsqlite3-dev
- sudo apt-get install -qq qt5-default qttools5-dev-tools
- printf "===============================================\n\n"

#- brew install qt5
- chmod u+x generate_paths_travis.sh
- bash generate_paths_travis.sh
- bash build_deps.sh no-pause
install: true
script:
- bash build.sh no-pause
