body
{
max-width: 1000px;
margin-left: auto;
margin-right: auto;
}

p {
	margin: 0px;
	text-indent: 0px;
}

a img
{
border-width: 0px;
}

h3 {
	margin: 0px;
}
a{
	color:navy;	
}

.warning
{
	font-weight:bold;
	color: red;	
}

table.tbl
{
	border-collapse: collapse;
	border: 1px solid #000000;
}

.tbl td,.tbl th
{
	border: 1px solid #000000;
}
