a.email
{
    text-decoration: underline;
    color:#0000ff;
}

td
{
    border: none;
}

table
{
    border: none;
}

tr.blackLine
{
    height: 1px;
    max-height: 1px;
}

td.title1
{
    text-align: center;
    font-size: 16pt;
    font-weight:600;
    text-decoration: underline;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    /*-qt-block-indent:0;*/
    text-indent: 0;
}

td.title2
{
    width: 8em;
    padding-top: 0.1em;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    /*-qt-block-indent:0;*/
}

td.people
{
    padding-top: 0.1em;
    padding-bottom: 1.5em;
    text-align: center;
    /*-qt-block-indent:0;*/
}

span.who
{
    font-style:italic;
}

div.wholist
{
    display: block;
    margin-left: 20px;
}

img.leftPos
{
    border-width: 0;
}

img.rightPos
{
    border-width: 0;
}

img
{
    display: inline-block;
}

.hr-dashed
{
    text-align: center;
    margin: 20px auto;
    width: 70%;
    padding: 0;
    height: 0.1em;
    border: none;
    border-top: 2px dashed #ddd;
}