# Folders
/.idea/*
/.gradle/*
/build/*
/local.properties
/SDL-default/*
/moondust/jni/SDL/*
/moondust/build/*
/moondust/release/*
/moondust/.cxx/*
.externalNativeBuild
/moondust/src/main/assets/languages/*

# Files
*.iml
*.apk

