#include "resource.h"

#ifdef _MSC_VER
#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif // APSTUDIO_INVOKED
#endif

#ifdef _MSC_VER
#ifdef APSTUDIO_INVOKED
IDI_APPICON  ICON   "LunaLoaderIcon.ico"
#endif
#else
IDI_APPICON  ICON   "LunaLoaderIcon.ico"
#endif
