<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file_lvl.icns</string>
			<key>CFBundleTypeName</key>
			<string>SMBX64/38A Level File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvlx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file_lvlx.icns</string>
			<key>CFBundleTypeName</key>
			<string>PGE Level File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wld</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file_wld.icns</string>
			<key>CFBundleTypeName</key>
			<string>SMBX64/38A World map file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wldx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>file_wldx.icns</string>
			<key>CFBundleTypeName</key>
			<string>PGE World map file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundleIdentifier</key>
	<string>ru.wohlsoft.pge-engine</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.6-alpha</string>
	<key>CFBundleVersion</key>
	<string>0.2.6-alpha</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.arcade-games</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSPrincipalClass</key>
	<string>PGEEngineApplication</string>
	<key>CFBundleGetInfoString</key>
	<string>Platform Game Engine by Wohlstand</string>
</dict>
</plist>
