[Desktop Entry]
Type=Application
Name=PGE Editor
Name[ru]=Редактор PGE
GenericName=PGE Editor, for creating a levels, world maps and episodes
GenericName[ru]=Редактор PGE, для создания уровней, карт мира и эпизодов
Icon=PgeEditor
Exec=%1/pge_editor %f
Path=%1
Terminal=false
StartupNotify=false
NoDisplay=true
Categories=Application;Game;PlatformGame;
MimeType=application/x-pgex-level;application/x-pgex-world;application/x-smbx64-level;application/x-smbx64-world;
