name: Cancel
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cancel:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          workflow_id: macos-ci.yml, windows-ci.yml, android-ci.yml
          all_but_latest: true
          access_token: ${{ github.token }}
